%div{ class: 'bg-white h-screen' }
  %div{ class: 'flex justify-center' }
    %div{ class: 'w-1/2'}
      %h1{ class: 'text-4xl font-bold uppercase py-12' }
        Add new track
      
      = render 'form'
      