%div{ class: 'bg-white h-screen bg-gray-50' }
  %div{ class: 'flex justify-center' }
    %div{ class: 'w-3/4 px-20'}
      %h1{ class: 'text-4xl font-bold uppercase py-12' }
        ARTISTS
        
      %div{ class: 'grid grid-cols-4 w-full gap-6' }
      
        - @artists.each do |artist|
          %div{ class: 'border shadow-lg flex flex-col flex items-center' }
            - if artist.avatar.attached?
              = image_tag artist.avatar, class: 'h-40 w-full object-cover'
            - else
              = image_tag asset_path('default_avatar.png'), class: 'h-40 w-full object-cover'
            %div{ class: 'bg-indigo-800 py-4 px-6 w-3/5 -mt-7 text-white text-center' }
              = artist.name.truncate(13)
            %div{ class: 'p-6 w-full' }
              %div{ class: 'flex justify-between w-full text-gray-700' }
                =link_to albums_path, class: 'font-bold hover:underline' do
                  Albums
                =link_to edit_artist_path(artist.id), class: 'font-bold hover:underline' do
                  Edit
                =link_to artist_path(artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'font-bold hover:underline' do
                  Delete

      %div{ class: 'w-full py-20' }
        %div{ class: 'w-full grid grid-cols-2' }
          %img{ src: asset_path('girl_music.webp') }
          %div{ class: 'px-6 flex flex-col justify-center' }
            %h1{ class: 'font-bold text-4xl uppercase mb-6' } Add New Artist
            %p{ class: 'text-gray-600 mb-7 leading-6' } The quick brown fox jump over the lazy dog near the bank of the river. The quick brown fox jump over the lazy dog near the bank of the river. The quick brown fox jump over the lazy dog near the bank of the river.
            =link_to :new_artist, class: 'text-center bg-transparent hover:bg-indigo-800 hover:text-white hover:border-0 text-indigo-800 font-bold p-4 w-1/2 border-2 border-indigo-800' do
              Register Here
