%div{ class: 'bg-white h-screen bg-gray-50' }
  %div{ class: 'flex justify-center' }
    %div{ class: 'w-1/2 pb-12'}
      %div{ class: 'flex justify-between' }
        %h1{ class: 'text-2xl font-bold py-12' }
          ALBUM >
          = @album.name
        %div{ class: 'py-12 flex gap-4' }
          =link_to albums_path, class: 'flex items-center text-xl font-bold text-indigo-800' do
            < Go back
      
      = render 'form'
      